/*
    @package mojorising
*/
/*
     Generic
     --------------
*/
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; }

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/*
     Header
     --------------
*/
.header-container {
  position: relative;
  display: block;
  height: 326px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.site-title {
  color: #fff;
  margin: 0;
  font-size: 80px; }

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* 
	Nav Bar 
	------------------------------------------------
*/
.navbar-mojo {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-mojo ul {
    float: none; }
  .navbar-mojo li {
    float: none;
    display: inline-block; }
    .navbar-mojo li.active a {
      opacity: 1; }
      .navbar-mojo li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .navbar-mojo li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .navbar-mojo li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0 !important; }
      .navbar-mojo li.open a:hover, .navbar-mojo li.open a:focus, .navbar-mojo li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .navbar-mojo li.open a:hover:after, .navbar-mojo li.open a:focus:after, .navbar-mojo li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          opacity: 0 !important; }
    .navbar-mojo li a {
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-mojo li a:hover, .navbar-mojo li a:focus, .navbar-mojo li a:visited {
        background: none;
        opacity: 1; }
        .navbar-mojo li a:hover:after, .navbar-mojo li a:focus:after, .navbar-mojo li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
      .navbar-mojo li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-mojo li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar-mojo li ul.dropdown-menu li {
        display: block; }
        .navbar-mojo li ul.dropdown-menu li a:hover, .navbar-mojo li ul.dropdown-menu li a:focus, .navbar-mojo li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/*
   Standard Post Format
------------------------------------------
*/
h1 {
  font-size: 48px;
  font-weight: 200; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 50px 0 20px;
    padding: 0; }

.entry-meta {
  font-size: 13px;
  font-weight: 300;
  color: #898989; }
  .entry-meta a {
    font-weight: 500;
    color: #898989; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #333333; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: transparent; }

.standard-featured {
  display: block;
  height: 330px;
  position: relative; }
  .standard-featured:after {
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35); }

.entry-excerpt {
  margin: 30px 0 16px; }
  .entry-excerpt p {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em; }

.btn-mojo {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  color: #898989;
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid #898989; }
  .btn-mojo:hover, .btn-mojo:focus {
    color: #333333;
    border-collapse: #333333; }

/*# sourceMappingURL=mojo.css.map */
