/*
    @package mojorising
*/

/*
     Generic
     --------------
*/

//Variables
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
$light-grey: #898989;
$dark-grey: #333333;
$primary-color: #000000;

//MIXINS

@mixin animate( $attr, $time ){
    -webkit-transition: $attr $time ease;
    -moz-transition: $attr $time ease;
    -ms-transition: $attr $time ease;
    -o-transition: $attr $time ease;
    transition: $attr $time ease;
}

@mixin transform( $val ){
    -webkit-transform: $val;
    -moz-transform: $val;
    -o-transform: $val;
    transform: $val;
}

body {
    font-family: $body-font;
}

a{
    color: $primary-color;
    @include animate( color, 320ms );
    &:hover,
    &:focus{
        text-decoration: none;
        color: $dark-grey;
    }
}

.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.table{
    display: table;
    width: 100%;
    height: 100%;
    
        .table-cell{
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;

    }
}


/*
     Header
     --------------
*/
.header-container {
    position: relative;
    display: block;
    height: 326px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.site-title {
    color: #fff;
    margin: 0;
    font-size: 80px;
}

.site-description{
    font-size: 14px;
    color: #fff;
    margin-top: 1em;
        
}

.nav-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 
	Nav Bar 
	------------------------------------------------
*/
.navbar-mojo { text-align: center; border: none; border-radius: 0; min-height: auto; margin-bottom: 0; background: rgba( 255,255,255,0.1); border-top: 1px solid rgba( 255,255,255,0.1);
	ul { float: none; }
	li { float: none; display: inline-block;
		&.active {
			a { opacity: 1;
				&:after { @include transform( translateY(0) ); opacity: 1; }
			}
		}
		&.open {
			a { opacity: 1; background-color: rgba(0,0,0,0.1)!important;
				&:after { @include transform( translateY(10px) ); opacity: 0!important; }
				&:hover,
				&:focus,
				&:visited { background-color: rgba(0,0,0,0.1)!important;
					&:after { @include transform( translateY(10px) ); opacity: 0!important; }
				}
			}
		}
		a { text-transform: uppercase; color: #fff; font-size: 12px; opacity: 0.7; letter-spacing: 0.05em; background: none; @include animate( opacity, 320ms );
			&:hover,
			&:focus,
			&:visited { background: none; opacity: 1; 
				&:after { @include transform( translateY(0) ); opacity: 1; }
			}
			&:after { content: ''; position: absolute; display: block; left: 15px; right: 15px; bottom: 14px; height: 2px; background: #fff; @include animate( all, 320ms ); opacity: 0; @include transform( translateY(10px) ); }
		}
		ul.dropdown-menu { border: 0; border-radius: 0; background: rgba(0,0,0,0.75); 
			li { display: block; 
				a {
					&:hover,
					&:focus,
					&:visited { background: rgba(0,0,0,0.25)!important; color: #fff; }
				}
			}
		}
	}
}

/*
   Standard Post Format
------------------------------------------
*/

h1{
    font-size: 48px;
    font-weight: 200;
   
    &.entry-title{
        line-height: 1.5em;
        margin: 50px 0 20px;
        padding: 0;
    }
}

.entry-meta{
    font-size: 13px;
    font-weight: 300;
    color: $light-grey;
    
    a{
        font-weight: 500;
        color: $light-grey;
        &:hover,
        &:focus{
            color: $dark-grey;
        }
    }
}

.standard-featured-link{
    display: block;
    position: relative;
    &:hover,
    &:focus{
        .standard-featured{
            &:after{
                background-color: rgba(0,0,0,0);
            }
        }
    }
}
.standard-featured{
    display: block;
    height: 330px;
    position: relative;
    &:after {
        @include animate( background-color, 320ms);
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.15);
        box-shadow: inset 0 0 15px rgba(0,0,0,0.35);
    }
}

.entry-excerpt{
    margin: 30px 0 16px;
    p{
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 300;
        letter-spacing: 0.02em;
    }
}

.btn-mojo{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: $light-grey;
    padding: 6px 10px;
    border-radius: 0;
    border: 1px solid $light-grey;
    &:hover,
    &:focus {
        color: $dark-grey;
        border-collapse: $dark-grey;
    }
}








